<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<resultMap id="memberMap" type="memberType">
		<result property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="rank" column="rank" />
	</resultMap>

	<sql id="linkColumn">
		`id`,`user_name`,`rank`
	</sql>

	
	<update id="updateMemberRank" parameterType="java.util.Map">
		UPDATE `member` SET rank=rank+#{rank} WHERE id=#{memberId}
	</update>

</mapper>
