<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">

	<resultMap id="productMap" type="productType">
		<result property="id" column="id" />
		<result property="shopId" column="shop_id" />
		<result property="productName" column="product_name" />
		<result property="price" column="price" />
		<result property="stock" column="stock" />
	</resultMap>

	<sql id="linkColumn">
		`id`,`shop_id`,`product_name`,`price`,`stock`
	</sql>
	

	<select id="selectProductById" resultMap="productMap" parameterType="int">
		SELECT <include refid="linkColumn" /> FROM `product` WHERE id = #{productId}
	</select>

	<update id="updateProductStock" parameterType="java.util.Map">
		UPDATE `product` SET stock=stock-#{sellCount} WHERE id=#{productId} AND shop_id=#{shopId} AND stock>=#{sellCount}
	</update>

</mapper>
