<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShopMapper">

	<resultMap id="shopMap" type="shopType">
		<result property="id" column="id" />
		<result property="memberId" column="member_id" />
		<result property="shopName" column="shop_name" />
	</resultMap>

	<sql id="linkColumn">
		`id`,
		`member_id`,
		`shop_name`
	</sql>
	
	<insert id="insert" parameterType="java.util.Map">
		INSERT INTO `shop`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="memberId != null and memberId != ''">
				member_id,
			</if>
			<if test="shopName != null and shopName != ''">
				shop_name,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="memberId != null and memberId != ''">
				#{memberId},
			</if>
			<if test="shopName != null and shopName != ''">
				#{shopName},
			</if>
		</trim>
	</insert>
	
	<insert id="insertBatch">
		INSERT INTO `shop`
		(
		`id`,
		`member_id`,
		`shop_name`
		)
		VALUES 
		<foreach item="item" index="index" collection="list" separator=",">
			(
			#{item.id},
			#{item.memberId},
			#{item.shopName}
			)
		</foreach>
	</insert>

	<select id="selectOne" resultMap="shopMap" parameterType="java.lang.String">
		SELECT <include refid="linkColumn" /> FROM `shop`
		WHERE id = #{primaryKey}
		<!-- <if test="_parameter != null and _parameter != ''"></if> -->
	</select>

	<select id="select" resultMap="shopMap" parameterType="java.util.Map">
		SELECT <include refid="linkColumn" /> FROM `shop`
		<where>
		<if test="id != null and id != ''">
			AND `id` = #{id}
		</if>
		<if test="memberId != null and memberId != ''">
			AND `member_id` = #{memberId}
		</if>
		<if test="shopName != null and shopName != ''">
			AND `shop_name` = #{shopName}
		</if>
		</where>
	</select>

	<select id="selectList" resultMap="shopMap" parameterType="java.util.Map">
		SELECT <include refid="linkColumn" /> FROM `shop`
		LIMIT #{position}, #{offset}
	</select>

	<select id="selectCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT COUNT(1) FROM `shop`
		<where>
		<if test="id != null and id != ''">
			AND `id` = #{id}
		</if>
		<if test="memberId != null and memberId != ''">
			AND `member_id` = #{memberId}
		</if>
		<if test="shopName != null and shopName != ''">
			AND `shop_name` = #{shopName}
		</if>
		</where>
	</select>

	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM `shop` WHERE id = #{primaryKey}
	</delete>
	
	<delete id="deleteBatch">
		DELETE FROM `shop`
		WHERE
		id IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="java.util.Map">
		UPDATE `shop` 
		<set>
			<if test="memberId != null and memberId != ''">
				member_id,
			</if>
			<if test="shopName != null and shopName != ''">
				shop_name,
			</if>
		</set>
		<where>
		<if test="id != null and id != ''">
			AND `id` = #{id}
		</if>
		<if test="memberId != null and memberId != ''">
			AND `member_id` = #{memberId}
		</if>
		<if test="shopName != null and shopName != ''">
			AND `shop_name` = #{shopName}
		</if>
		</where>
	</update>

</mapper>
