<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShopMapper">

	<resultMap id="shopMap" type="shopType">
		<result property="id" column="id" />
		<result property="memberId" column="member_id" />
		<result property="shopName" column="shop_name" />
	</resultMap>

	<sql id="linkColumn">
		`id`,
		`member_id`,
		`shop_name`
	</sql>

	<select id="selectShopById" resultMap="shopMap" parameterType="int">
		SELECT <include refid="linkColumn" /> FROM `shop` WHERE id = #{shopId}
	</select>
</mapper>
