<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

	<resultMap id="orderMap" type="orderType">
		<result property="id" column="id" />
		<result property="productId" column="product_id" />
		<result property="sellerId" column="seller_id" />
		<result property="buyerId" column="buyer_id" />
		<result property="price" column="price" />
		<result property="orderStatus" column="order_status" />
	</resultMap>

	<sql id="linkColumn">
		`id`,`product_id`,`seller_id`,`buyer_id`,`price`,`order_status`
	</sql>
	

	
	<insert id="insertOerder">
		INSERT INTO `order`(`product_id`,`seller_id`,`buyer_id`,`price`)
		VALUES (#{productId},#{sellerId},#{buyerId},#{price})
	</insert>

	<update id="updateOrderStatus" parameterType="java.util.Map">
		UPDATE `order` SET order_status=#{orderStatus} WHERE id=#{orderId} AND seller_id=#{sellerId} AND buyer_id=#{buyerId}
	</update>

</mapper>
